streamlit==1.28.0
google-auth==2.23.0
google-auth-oauthlib==1.1.0
google-auth-httplib2==0.1.1
google-api-python-client==2.100.0
groq==0.11.0
python-dotenv==1.0.0
pytz==2023.3
audio-recorder-streamlit==0.0.8
plotly==5.18.0
pandas==2.3.3

# Force rebuild Sun Nov 30 10:54:58 IST 2025
